<%- include('layouts/header'); -%>

<body>
    <%- include('layouts/navbar'); -%>



    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-3">div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">First Year</h5>
            <p class="card-text">Resources For First Year</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Click Here</a>
          </div></div>
        <div class="col-6 col-sm-3">div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">First Year</h5>
            <p class="card-text">Resources For First Year</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Click Here</a>
          </div></div>

        </div>
        </div>
      


      




    <%- include('layouts/footer'); -%>
</body>
</html>
